<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunluiot.sdk">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".thirdlib.qrcode.CaptureActivity" />
        <activity android:name=".thirdlib.qrcode.QRCodeActivity" />
        <activity android:name=".ui.web.DeviceWebControlActivity" />
    </application>

</manifest>