<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kiotsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 获取wifi需要   -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.KIotSDK">

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".ui.MainNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.DeviceSetNetGotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.MineManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.UserEditNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.UserEditPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.VerifyPhoneNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.BindNewPhoneNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.BindSocialAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.ChangeAccountPasswordActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.family.FamilyRoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.family.RoomCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.family.MemberCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.family.FamilyMemberManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.family.MemberEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.DeviceSetWifiApActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.DeviceEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.DeviceChangeWifiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.msg.MsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.ForgetActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.family.FamilyCreateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.family.FamilySelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.family.FamilyListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.family.FamilyDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.family.FamilyEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceProductListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceSetWifiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceSetWifiDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceGateWayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceGateWayDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceConfigFinishActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.device.DeviceManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneOneKeyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneLinkedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneOneKeyAddOrEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneNameEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneOneKeyIconEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SelectExecutionActionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneSelectDevicesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SelectSceneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneLinkedAddOrEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneAddConditionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneAddTimeConditionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scene.SceneSelectConditionDevicesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.operation.OperationListActivity"
            android:screenOrientation="portrait" />

<!--        <activity-->
<!--            android:name=".ui.operation.OperationListFieldsActivity"-->
<!--            android:screenOrientation="portrait" />-->

        <activity
            android:name=".ui.operation.OperationLinkedListActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>